# Ignore research repositories cloned locally
DNP3-Attack-Detection-System/
ICS-Payload/
ScapyDNP3_lib/
scada-scanner/

# Ignore Python runtime files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db
